-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: mioptica
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `citas`
--

DROP TABLE IF EXISTS `citas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `citas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `hora` time(6) NOT NULL,
  `estado` varchar(20) NOT NULL,
  `Usuarios_id` int NOT NULL,
  `Pacientes_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_Usuarios_Citas` (`Usuarios_id`),
  KEY `FK_Pacientes_Citas` (`Pacientes_id`),
  CONSTRAINT `FK_Pacientes_Citas` FOREIGN KEY (`Pacientes_id`) REFERENCES `pacientes` (`id`),
  CONSTRAINT `FK_Usuarios_Citas` FOREIGN KEY (`Usuarios_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `citas`
--

LOCK TABLES `citas` WRITE;
/*!40000 ALTER TABLE `citas` DISABLE KEYS */;
/*!40000 ALTER TABLE `citas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detallerecetas`
--

DROP TABLE IF EXISTS `detallerecetas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detallerecetas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cantidad` int NOT NULL,
  `Recetas_id` int NOT NULL,
  `Productos_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_Recetas_DetallesRecetas` (`Recetas_id`),
  KEY `FK_Productos_DetallesRecetas` (`Productos_id`),
  CONSTRAINT `FK_Productos_DetallesRecetas` FOREIGN KEY (`Productos_id`) REFERENCES `productos` (`id`),
  CONSTRAINT `FK_Recetas_DetallesRecetas` FOREIGN KEY (`Recetas_id`) REFERENCES `recetas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detallerecetas`
--

LOCK TABLES `detallerecetas` WRITE;
/*!40000 ALTER TABLE `detallerecetas` DISABLE KEYS */;
/*!40000 ALTER TABLE `detallerecetas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historialesclinicos`
--

DROP TABLE IF EXISTS `historialesclinicos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historialesclinicos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `motivoConsulta` varchar(255) NOT NULL,
  `diagnostico` varchar(255) NOT NULL,
  `presionIntraocularOD` decimal(4,2) NOT NULL,
  `presionIntraocularOI` decimal(4,2) NOT NULL,
  `observaciones` varchar(255) NOT NULL,
  `fecha` date NOT NULL,
  `Pacientes_id` int NOT NULL,
  `Citas_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_Citas_HistorialesClientes` (`Citas_id`),
  KEY `FK_Pacientes_HistorialesClientes` (`Pacientes_id`),
  CONSTRAINT `FK_Citas_HistorialesClientes` FOREIGN KEY (`Citas_id`) REFERENCES `citas` (`id`),
  CONSTRAINT `FK_Pacientes_HistorialesClientes` FOREIGN KEY (`Pacientes_id`) REFERENCES `pacientes` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historialesclinicos`
--

LOCK TABLES `historialesclinicos` WRITE;
/*!40000 ALTER TABLE `historialesclinicos` DISABLE KEYS */;
/*!40000 ALTER TABLE `historialesclinicos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pacientes`
--

DROP TABLE IF EXISTS `pacientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pacientes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `documento` varchar(10) NOT NULL,
  `nombre` varchar(45) NOT NULL,
  `apellido` varchar(45) NOT NULL,
  `correo` varchar(100) NOT NULL,
  `telefono` varchar(10) NOT NULL,
  `fechaNacimiento` date NOT NULL,
  `genero` varchar(10) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `documento` (`documento`),
  UNIQUE KEY `correo` (`correo`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pacientes`
--

LOCK TABLES `pacientes` WRITE;
/*!40000 ALTER TABLE `pacientes` DISABLE KEYS */;
INSERT INTO `pacientes` VALUES (1,'1012','Jhon','Moreno','j@mail.com','555-123456','1986-09-08','M'),(3,'12345678','Juan','Perez','2j@mail.com','987654321','1990-01-01','M'),(6,'12345679','Juan','Perez','3j@mail.com','987654321','1990-01-01','M'),(7,'12345680','Juan','Perez','j1@mail.com','987654321','1990-01-01','M'),(18,'4444','Mar├â┬¡a','l├â┬│pez','lopezm888@gmail.com','1234567','2020-01-31','F');
/*!40000 ALTER TABLE `pacientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedidos`
--

DROP TABLE IF EXISTS `pedidos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedidos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cantidad` int NOT NULL,
  `fecha` date NOT NULL,
  `estado` varchar(20) NOT NULL,
  `Proveedores_id` int NOT NULL,
  `Productos_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_Proveedores_Pedidos` (`Proveedores_id`),
  KEY `FK_Productos_Pedidos` (`Productos_id`),
  CONSTRAINT `FK_Productos_Pedidos` FOREIGN KEY (`Productos_id`) REFERENCES `productos` (`id`),
  CONSTRAINT `FK_Proveedores_Pedidos` FOREIGN KEY (`Proveedores_id`) REFERENCES `proveedores` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedidos`
--

LOCK TABLES `pedidos` WRITE;
/*!40000 ALTER TABLE `pedidos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedidos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `precioproductos`
--

DROP TABLE IF EXISTS `precioproductos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `precioproductos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `precio` decimal(10,2) NOT NULL,
  `fechaInicio` date NOT NULL,
  `fechaFin` date DEFAULT NULL,
  `Productos_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_Productos_PrecioProductos` (`Productos_id`),
  CONSTRAINT `FK_Productos_PrecioProductos` FOREIGN KEY (`Productos_id`) REFERENCES `productos` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `precioproductos`
--

LOCK TABLES `precioproductos` WRITE;
/*!40000 ALTER TABLE `precioproductos` DISABLE KEYS */;
/*!40000 ALTER TABLE `precioproductos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos`
--

DROP TABLE IF EXISTS `productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(45) NOT NULL,
  `tipo` varchar(50) NOT NULL,
  `stock` int NOT NULL,
  `stockMinimo` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedores`
--

DROP TABLE IF EXISTS `proveedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedores` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(45) NOT NULL,
  `contacto` int NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `correo` varchar(100) NOT NULL,
  `direccion` varchar(150) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores`
--

LOCK TABLES `proveedores` WRITE;
/*!40000 ALTER TABLE `proveedores` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recetas`
--

DROP TABLE IF EXISTS `recetas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recetas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `esferaOD` decimal(4,2) NOT NULL,
  `esferaOI` decimal(4,2) NOT NULL,
  `cilindroOD` decimal(4,2) NOT NULL,
  `cilindroOI` decimal(4,2) NOT NULL,
  `ejeOD` decimal(4,2) NOT NULL,
  `ejeOI` decimal(4,2) NOT NULL,
  `adicion` decimal(4,2) NOT NULL,
  `fecha` date NOT NULL,
  `Citas_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_Citas_Recetas` (`Citas_id`),
  CONSTRAINT `FK_Citas_Recetas` FOREIGN KEY (`Citas_id`) REFERENCES `citas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recetas`
--

LOCK TABLES `recetas` WRITE;
/*!40000 ALTER TABLE `recetas` DISABLE KEYS */;
/*!40000 ALTER TABLE `recetas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(45) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Administrador','Administra el negocio'),(2,'Inactivo','Usuario nuevo');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `documento` varchar(10) NOT NULL,
  `nombre` varchar(45) NOT NULL,
  `apellido` varchar(45) NOT NULL,
  `correo` varchar(100) NOT NULL,
  `clave` varchar(100) NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `estado` int NOT NULL,
  `Roles_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `documento` (`documento`),
  UNIQUE KEY `correo` (`correo`),
  KEY `FK_Roles_Usuario` (`Roles_id`),
  CONSTRAINT `FK_Roles_Usuario` FOREIGN KEY (`Roles_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'1012','Jhon Maurico','Moreno Garc├¡a','jmorenog@gmail.com','123456','555-1111',1,1),(3,'888','Prueba','Moreno','prueba@gmail.com','123456','555-2222',1,2),(4,'9657','Camilo','Herrera','cami@gmail.com','123456','555-3333',1,2);
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-07 19:54:19
